// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */
#include <dt-bindings/gpio/gpio.h>

&gpsb0 {
	status = "okay";
	gpsb-port = <17>;
	pinctrl-names = "idle", "active", "cs";
	pinctrl-0 = <&gpsb17_bus_idle>;
	pinctrl-1 = <&gpsb17_bus_spi>;
	pinctrl-2 = <&gpsb17_spi_cs>;

	/* cs-gpios */
	cs-gpios = <&gpl 1 GPIO_ACTIVE_LOW>,
		<&gpl 9 GPIO_ACTIVE_LOW>;

	#address-cells = <1>;
	#size-cells = <0>;
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
	spidev@1 {
		compatible = "rohm,dh2228fv";
		reg = <1>;
		spi-max-frequency = <20000000>;
	};
};

&pinctrl {
	gpsb17_bus_spi: gpsb17_bus_spi {
		telechips,pins = "gpl-8", "gpl-10", "gpl-11";
		telechips,pin-function = <2>;
		telechips,input_buffer_enable;
	};

	gpsb17_bus_idle: gpsb17_bus_idle {
		telechips,pins = "gpl-8", "gpl-10", "gpl-11";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
	};

	gpsb17_spi_cs: gpsb17_spi_cs {
		telechips,pins = "gpl-1", "gpl-9";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
		telechips,output-high;
	};

};
