// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2023 Telechips Inc.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>

&i2c0 {
	status = "okay";
	port-mux = <11>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c11_bus_active>;
	pinctrl-1 = <&i2c11_bus_sleep>;
	clock-frequency = <100000>;

	#address-cells = <1>;
	#size-cells = <0>;

	/* Use burst-mode for serdes */
	burst-mode;

	/* carplay ack timeout count: 500 */
	retry-count = <500>;

	tsc_serdes@61 {
		compatible = "telechips,tcc803x-tsc-serdes";
		status = "okay";
		reg = <0x61>;
		max-disp-num = <1>;
		/* 0x01: TCC803XPE_EVB
		   0x02: TCC8059_EVB
		   0x04: TCC8050_53_EVB
		   0x08: TCC8070_EVB */
		board-type = <0x01>;
	};

	gpext1: tca9539@74 {
		compatible = "nxp,pca9539";
		reg = <0x74>;
		gpio-controller;
		#gpio-cells = <2>;
	};

};

&i2c1 {
	status = "okay";
	port-mux = <6>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c6_bus_active>;
	pinctrl-1 = <&i2c6_bus_sleep>;

	#address-cells = <1>;
	#size-cells = <0>;

	/* Use burst-mode for touch */
	burst-mode;

	/* Retransmission due to nack response from mxt touch */
	retry-count = <100>;

	pmic@58 {
		compatible = "dlg,da9062";
		reg = <0x58>;
		rst-gpios = <&gpma 12 0>;

		interrupt-parent = <&gpma>;
		interrupts = <23 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;

		pinctrl-names = "default";
		pinctrl-0 = <&da9062_irq>;

		da9062_gpio: gpio {
			compatible = "dlg,da9062-gpio";
			gpio-controller;
			#gpio-cells = <2>;
		};

		regulators {
			DA9062_BUCK1: buck1 {
				regulator-name = "vdd_cpu0";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-min-microamp = <500000>;
				regulator-max-microamp = <2000000>;
				regulator-always-on;
			};

			DA9062_BUCK2: buck2 {
				regulator-name = "vdd_gv";
				regulator-min-microvolt = <300000>;
				regulator-max-microvolt = <1570000>;
				regulator-min-microamp = <500000>;
				regulator-max-microamp = <2000000>;
				regulator-always-on;
			};

			DA9062_BUCK3: buck3 {
				regulator-name = "vdd_core";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3340000>;
				regulator-min-microamp = <500000>;
				regulator-max-microamp = <2000000>;
				regulator-always-on;
			};

			DA9062_BUCK4: buck4 {
				regulator-name = "vdd_cpu1";
				regulator-min-microvolt = <530000>;
				regulator-max-microvolt = <1800000>;
				regulator-min-microamp = <500000>;
				regulator-max-microamp = <2000000>;
				regulator-always-on;
			};

			DA9062_LDO1: ldo1 {
				regulator-name = "vdd_io";
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <3600000>;
				regulator-always-on;
			};
#if 0
			/* Temp block for LDO2. Block min-microvolt of LDO2 */
			DA9062_LDO2: ldo2 {
				regulator-name = "mem_1p8";
				regulator-min-microvolt = <1700000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
#endif
			DA9062_LDO4: ldo4 {
				regulator-name = "sdio_pwr";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
		};
	}; /* pmic da9062 */

	mxt_touch@4a {
		compatible = "atmel,maxtouch";
		reg = <0x4a>;
		pinctrl-names = "default";
		pinctrl-0 = <&tsc_default>;

		interrupt-parent = <&gpsd1>;
		interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpb 16 GPIO_ACTIVE_LOW>;
	};
};


&i2c2 {
	status = "okay";
	port-mux = <13>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c13_bus_active>;
	pinctrl-1 = <&i2c13_bus_sleep>;

	#address-cells = <1>;
	#size-cells = <0>;

	ak4601: ak4601@10 {
		compatible = "akm,ak4601";
		ak4601,pdn-gpio = <&gpb 27 0>;
		cmute-gpios = <&gpb 28 1>;	//CODEC_MUTE    0: active high, 1: active low
		//amute-gpios = <&gpma 27 0>;	//AMP_MUTE      0: active high, 1: active low
		//stanby-gpios = <&gpma 26 0>;	//AMP_STBY      0: active high, 1: active low
		reg = <0x10>;
	};
};

&i2c3 {
	status = "okay";
	port-mux = <22>; /* [0]SCL [1]SDA */
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&i2c22_bus_active>;
	pinctrl-1 = <&i2c22_bus_sleep>;
	clock-frequency = <400000>;
};

&pinctrl {
	i2c6_bus_active: i2c6_bus_active {
		telechips,pins = "gpa-22", "gpa-23";
		telechips,pin-function = <8>;
		telechips,input_buffer_enable;
		telechips,no-pull;
	};

	i2c11_bus_active: i2c11_bus_active {
		telechips,pins = "gpb-19", "gpb-20";
		telechips,pin-function = <8>;
		telechips,input_buffer_enable;
		telechips,no-pull;
	};

	i2c13_bus_active: i2c13_bus_active {
		telechips,pins = "gpb-23", "gpb-24";
		telechips,pin-function = <8>;
		telechips,input_buffer_enable;
		telechips,no-pull;
	};

	i2c22_bus_active: i2c22_bus_active {
		telechips,pins = "gph-4", "gph-5";
		telechips,pin-function = <9>;
		telechips,input_buffer_enable;
		telechips,no-pull;
	};

	i2c6_bus_sleep: i2c6_bus_sleep {
		telechips,pins = "gpa-22", "gpa-23";
		telechips,pin-function = <0>;
		telechips,no-pull;
	};

	i2c11_bus_sleep: i2c11_bus_sleep {
		telechips,pins = "gpb-19", "gpb-20";
		telechips,pin-function = <0>;
		telechips,no-pull;
	};

	i2c13_bus_sleep: i2c13_bus_sleep {
		telechips,pins = "gpb-23", "gpb-24";
		telechips,pin-function = <0>;
		telechips,no-pull;
	};

	i2c22_bus_sleep: i2c22_bus_sleep {
		telechips,pins = "gph-4", "gph-5";
		telechips,pin-function = <0>;
		telechips,no-pull;
	};

	da9062_irq: da9062_irq {
		telechips,pins = "gpma-23";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
		telechips,input-enable;
	};

	da9063_irq: da9063_irq {
		telechips,pins = "gpma-12";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
		telechips,input-enable;
	};

	tsc_default: tsc_default {
		telechips,pins = "gpsd1-9", "gpb-16";
		telechips,pin-function = <0>;
		telechips,no-pull;
	};
};
