// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */

&usb20host_vbus {
	gpios = <&gpa 28 0x0>;
};

&usb20drd_vbus {
	gpios = <&gpa 27 0x0>;
};

&usb30drd_vbus {
	gpios = <&gpa 29 0x0>;
};
