// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2023 Telechips Inc.
 */

#include <dt-bindings/pmap/tcc803x/pmap-tcc803x-linux-ivi-subcore-display.h>

/*=======================================================================================
 * TCC803x_Subcore_Linux_IVI VIOC PATH
 * -----------------------------------
 *
 *
 *=======================================================================================
 */


/*------------------------------------------------------------------------------
 * pmap
 *------------------------------------------------------------------------------

/* end of file */
