# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) Telechips Inc.
#

config VIDEO_TCCVIN2
	tristate "Telechips Video-Input Path Driver V2"
	depends on VIDEO_V4L2 && OF && HAS_DMA
	default n
	select DMA_DECLARE_COHERENT
	select V4L2_FWNODE
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_V4L2_SUBDEV_API
	help
	Support v4l2 capture interface

	Note that the driver is supported on the following chipsets.
	- tcc803x
	- tcc805x

config OVERLAY_PGL
	bool "Overlay Video-Input with Parking Guide Line"
	depends on VIDEO_TCCVIN2
	default n
	help
	Support overlay function of static pgl on the camera preview

	Note that the driver is supported on the following conditions.
	- The pgl image is loaded on bootloader step.
	- The related device node is updated to overlay.
