// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) Telechips Inc.
 */

&usb20drd_vbus {
	gpios = <&gpmd 14 0x0>;
	status = "okay";
};

&usb30drd_vbus {
	gpios = <&gpmd 16 0x0>;
	status = "okay";
};

&usb20drd_phy_host {
	status = "okay";
};

&usb20drd_phy_dev {
	status = "okay";
};

&usb20drd_controller {
	status = "okay";
};

&usb30drd_phy {
	status = "okay";
};

&usb30drd_controller {
	status = "okay";
};
