# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) 2023 Telechips Inc.

config TELECHIPS_THSM
	tristate "TELECHIPS THSM"
	depends on TELECHIPS_SEC_IPC
	default n
	help
		Support to THSM based on CA7,R5, <-> CA53 communication