config TELECHIPS_SNOR_UPDATER
	tristate "TCC SNOR Update Driver for TCC805x"
	default n
        depends on TCC_IPI_PROTOCOL
	help
		This driver only supports TCC805x.
		This driver communicate with the internal mcu to update SNOR.
