# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2020-2022 Telechips Inc.
#
config VIDEO_TCC_SVDW
	tristate "Telechips SVDW (Surround View De-Warp) Driver"
	depends on ARCH_TCC750X || ARCH_TCC807X
	depends on VIDEO_V4L2 && OF && HAS_DMA
	default n
	select DMA_DECLARE_COHERENT
	select V4L2_FWNODE
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_V4L2_SUBDEV_API
	help
		Support SVDW device driver
