// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (C) 2023 Telechips Inc.
 */


&gpsb0 {
	status = "okay";
	pinctrl-names = "idle", "active", "sleep";
	pinctrl-0 = <&gpsb_gpio_spi0_idle>;
	pinctrl-1 = <&gpsb_gpio_spi0>;
	pinctrl-2 = <&gpsb_gpio_spi0_idle>;
    
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};
&gpsb3 {
	status = "okay";
	pinctrl-names = "idle", "active", "sleep";
	pinctrl-0 = <&gpsb_ipc_bus_idle>;
	pinctrl-1 = <&gpsb_ipc_bus_spi>;
	pinctrl-2 = <&gpsb_ipc_bus_idle>;
	#address-cells = <1>;
	#size-cells = <0>;

	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <20000000>;
	};
};



&pinctrl {
	gpsb_rvc_bus_idle: gpsb_rvc_bus_idle {
		telechips,pins = "gph-0", "gph-1", "gph-3", "gph-2";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
	};

	gpsb_rvc_bus_spi: gpsb_rvc_bus_spi {
		telechips,pins = "gph-0", "gph-1", "gph-3", "gph-2";
		telechips,pin-function = <1>;
		telechips,input_buffer_enable;
	};

	gpsb_ipc_bus_idle: gpsb_ipc_bus_idle {
		telechips,pins = "gpf-4", "gpf-5", "gpf-6", "gpf-7";
		telechips,pin-function = <0>;
		telechips,input_buffer_enable;
	};

	gpsb_ipc_bus_spi: gpsb_ipc_bus_spi {
		telechips,pins = "gpf-4", "gpf-5", "gpf-6", "gpf-7";
		telechips,pin-function = <2>;
		telechips,input_buffer_enable;
	};


	gpsb_gpio_spi0_idle: gpsb_gpio_spi0_idle {
                telechips,pins = "gpd-8", "gpd-9", "gpd-10", "gpd-11";
                telechips,pin-function = <0>;
                telechips,input_buffer_enable;
        };

        gpsb_gpio_spi0: gpsb_gpio_spi0 {
                telechips,pins = "gpd-8", "gpd-9", "gpd-10", "gpd-11";
                telechips,pin-function = <2>;
                telechips,input_buffer_enable;
        };

};
