// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Driver for the OV5645 camera sensor.
 *
 * Copyright (c) 2011-2015, The Linux Foundation. All rights reserved.
 * Copyright (C) 2015 By Tech Design S.L. All Rights Reserved.
 * Copyright (C) 2012-2013 Freescale Semiconductor, Inc. All Rights Reserved.
 *
 * Based on:
 * - the OV5645 driver from QC msm-3.10 kernel on codeaurora.org:
 *   https://us.codeaurora.org/cgit/quic/la/kernel/msm-3.10/tree/drivers/
 *       media/platform/msm/camera_v2/sensor/ov5645.c?h=LA.BR.1.2.4_rb1.41
 * - the OV5640 driver posted on linux-media:
 *   https://www.mail-archive.com/linux-media%40vger.kernel.org/msg92671.html
 */

/ {
	ov5645_vdddo: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "ov5645_vdddo";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpios = <&gpg 5 0x0>;
		enable-active-high;
		regulator-always-on;
	};

	ov5645_vdda: fixedregulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "ov5645_vdda";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		enable-active-high;
		regulator-always-on;
	};

	ov5645_vddd: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "ov5645_vddd";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		enable-active-high;
		regulator-always-on;
	};

	ov5645_clk: ov5645_clk {
		compatible = "fixed-clock";
		#clock-cells = <1>;
		clock-frequency = <24000000>;
	};
};

&i2c3 {
	ov5645@3c {
		compatible = "ovti,ov5645";
		status = "okay";
		reg = <0x3c>;

		clocks = <&ov5645_clk 200>;
		clock-names = "xclk";
		clock-frequency = <24000000>;

		vdddo-supply = <&ov5645_vdddo>;	// 1.8v
		vdda-supply = <&ov5645_vdda>;	// 2.8v
		vddd-supply = <&ov5645_vddd>;	// 1.5v

		enable-gpios = <&gpg 6 GPIO_ACTIVE_HIGH>;
		rst-gpios = <&gpg 3 GPIO_ACTIVE_LOW>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				ov5645_out0: endpoint@0 {
					remote-endpoint = <&mipi_csi2_0_in0>;
					io-direction = "output";
					channel = <0>;
				};
			};
		};
	};
};

&mipi_csi2_0 {
	status = "okay";
	ports {
		port@0 {
			reg = <0>;
			mipi_csi2_0_in0: endpoint {
				remote-endpoint = <&ov5645_out0>;
				io-direction    = "input";
				num-channel     = <1>;
				channel = <0>;
				/*
				* 0: CH0 only, no data interleave
				* 1: DT only
				* 2: VC only
				* 3: VC and DT
				*/
				interleave-mode = <2>;
				hs-settle = <13>;
				data-lanes = <1 2>;
				};
		};

		port@1 {
			reg = <1>;
			mipi_csi2_0_out0: endpoint {
				remote-endpoint = <&videoinput2_in>;
				io-direction = "output";
				channel = <2>;
				pixel-mode = <1>;
			};
		};
	};
};

&videoinput2 {
	status = "okay";
	cam-ch = <2>;
	memory-region = <0 0 &pmap_rearcamera2 0>;
	port {
		videoinput2_in: endpoint {
			remote-endpoint = <&mipi_csi2_0_out0>;
			io-direction = "input";
			stream-enable = <1>;
			flush-vsync = <1>;
		};
	};
};
