# SPDX-License-Identifier: GPL-2.0-or-later
#
# Copyright (C) Telechips Inc.
#
config TCC_MIPI_CSI2
	tristate "Telechips MIPI CSI-2 driver"
	default n
	depends on ARCH_TCC803X || ARCH_TCC805X || ARCH_TCC750X || ARCH_TCC807X
	depends on VIDEO_V4L2 && VIDEO_V4L2_SUBDEV_API
	select V4L2_FWNODE
	help
	  This is a V4L2 driver for TCC803X and TCC805X SoC MIPI-CSI2
	  receiver devices.

	  Say Y here to enable MIPI-CSI2 receiver.
	  The driver will be called tcc-mipi-csi2
